/acceso/nbproject/private/
/acceso/build/
/psp/nbproject/private/
/psp/build/
/PruebaJaxb/nbproject/private/
/PruebaJaxb/build/
/ACDAT_primeraEntrega/nbproject/private/
/ACDAT_primeraEntrega/build/
/hibernate3/nbproject/private/
/hibernate3/build/
/hibernate4/nbproject/private/
/hibernate4/build/